<!DOCTYPE HTML>
<html>
    <head>
        <title>Spoon Standalone Example</title>
    </head>
    <body>
        <p>This is a static paragraph</p>
        <p id="Dynamic"></p>
        <script>
            document.getElementById("Dynamic").innerHTML = "This is a dynamic paragraph";
        </script>
    </body>
</html>